$nameColor: (
    black:  'black',
    gray:   'gray',
    blue:   'blue',
    red:    'red',
    yellow: 'yellow',
    green:  'green',
);

$sizeColor: (
    100: 100,
    200: 200,
    300: 300,
    400: 400,
    500: 500,
    600: 600,
    700: 700,
    800: 800,
);

/******************************
************ BLACK ************
*******************************/
$black-100: #F1F3F5;
$black-200: #DEE2E6;
$black-300: #CFD4DA;
$black-400: #ADB5BD;
$black-500: #868E96;
$black-600: #495057;
$black-700: #343a40;
$black-800: #21252A;

$black: (
    black-100: $black-100,
    black-200: $black-200,
    black-300: $black-300,
    black-400: $black-400,
    black-500: $black-500,
    black-600: $black-600,
    black-700: $black-700,
    black-800: $black-800,
);

/******************************
************ GRAY *************
*******************************/
$gray-100: #E8EDF2;
$gray-200: #B4C2D0;
$gray-300: #778CA1;
$gray-400: #4C6175;
$gray-500: #304254;
$gray-600: #12283A;

$gray: (
    gray-100: $gray-100,
    gray-200: $gray-200,
    gray-300: $gray-300,
    gray-400: $gray-400,
    gray-500: $gray-500,
    gray-600: $gray-600,
);

/******************************
************ BLUE *************
*******************************/
$blue-100: #EFF8FF;
$blue-200: #AAD4F5;
$blue-300: #63A2D8;
$blue-400: #3183C8;
$blue-500: #035DE6;
$blue-600: #0353CC;
$blue-700: #033E99;
$blue-800: #00204F;

$blue: (
    blue-100: $blue-100,
    blue-200: $blue-200,
    blue-300: $blue-300,
    blue-400: $blue-400,
    blue-500: $blue-500,
    blue-600: $blue-600,
    blue-700: $blue-700,
    blue-800: $blue-800,
);

/******************************
************* RED *************
*******************************/
$red-100: #FCE8E8;
$red-200: #F4AAAA;
$red-300: #E36363;
$red-400: #DC3030;
$red-500: #B82020;
$red-600: #881a1b;
$red-700: #5f1717;

$red: (
    red-100: $red-100,
    red-200: $red-200,
    red-300: $red-300,
    red-400: $red-400,
    red-500: $red-500,
    red-600: $red-600,
    red-700: $red-700,
);

/******************************
*********** YELLOW ************
*******************************/
$yellow-100: #FFFCF4;
$yellow-200: #FDF3D7;
$yellow-300: #FAE29F;
$yellow-400: #F4CA64;
$yellow-500: #CAA53D;
$yellow-600: #8C6D1F;
$yellow-700: #5c4813;

$yellow: (
    yellow-100: $yellow-100,
    yellow-200: $yellow-200,
    yellow-300: $yellow-300,
    yellow-400: $yellow-400,
    yellow-500: $yellow-500,
    yellow-600: $yellow-600,
    yellow-700: $yellow-700,
);

/******************************
************ GREEN ************
*******************************/
$green-100: #E3FCEC;
$green-200: #A8EEC1;
$green-300: #74D99F;
$green-400: #38C172;
$green-500: #249d57;
$green-600: #187741;
$green-700: #155239;

$green: (
    green-100: $green-100,
    green-200: $green-200,
    green-300: $green-300,
    green-400: $green-400,
    green-500: $green-500,
    green-600: $green-600,
    green-700: $green-700,
);


/**** Hover action ****/
$hover-action: $black-100;

/******************************
*********** PRIMARY ***********
*******************************/
$black-primary:     $black-600;
$blue-primary:      $blue-600;
$red-primary:       $red-400;
$yellow-primary:    $yellow-400;
$green-primary:     $green-400;
$gray-primary:      $black-400;

$colorPrimary: (
    black:  $black-primary,
    gray:   $gray-primary,  
    blue:   $blue-primary,  
    red:    $red-primary,
    yellow: $yellow-primary,
    green:  $green-primary,
);

/******************************
*********** STATUS ************
*******************************/
$dangerous: $red-400;
$warning:   $yellow-400;
$success:   $green-400;
$info:      $blue-500;



