@import '../variables/color.scss';
@import '../variables/core.scss';
@import '../variables/font.scss';

.card {
    background-color: #fff;
	border-radius: 6px;
	padding: 1rem;
	//border: 1px solid transparent;
	box-shadow: 0 2px 4px 0 #ccd0d9;
}

/****************************************/
/*************** BUTTON ****************/
/**************************************/
button {
    cursor: pointer;
}

.btn {
	padding: 0.4rem 0.8rem;
	border: 1px solid $black-300;
	font-weight: 500;
	background-color: $black-300;
	color: $black-700;
	font-size: $font-13;

	&:hover {
		opacity: 0.8;
	}
}

.btn-l {
	font-size: $font-15;
	padding: 0.5rem 1rem;
}


.btn-s {
	font-size: $font-12;
	padding: 0.25rem 0.5rem;
}

.btn-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.3rem;
}

@each $name, $color in $colorPrimary {
    .btn-#{$name}-primary {
		background-color: $color;
		border-color: transparent;
		color: #fff;
	}

    .btn-#{$name}-secondary {
		background-color: transparent;
		color: $color;
		border-color: $color;
		font-weight: 600;
	}

    .btn-#{$name}-tertiary {
		background-color: transparent;
		border-color: transparent;
		color: $color;

		&.link {
			text-decoration: underline;
		}
	}
}

/****************************************/
/*************** MODAL *****************/
/**************************************/
.wrapper-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1f1d1dc2;
	z-index: 9999;
}

/****************************/
/********* TOOLTIP *********/
/**************************/

/****************************/
/********* IMAGES **********/
/**************************/
img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    .img-contain {
        background-size: contain;
    }

    .img-cover {
        background-size: cover;
    }
}

/****************************************/
/**************** ICON *****************/
/**************************************/
$base-icon-size: 16px;
@each $name, $s in $size {
    $i: index($size, $s);

    @if $i != 1 {
        $base-icon-size: $base-icon-size+2;
    }

    .icon-#{$s} {
        font-size: $base-icon-size;
    }
}

.icon-action {
	border-radius: 50px;
	padding: 0.2rem;
	display: flex;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
		background-color: $black-200;
	}
}

.icon-action-transparent {
	cursor: pointer;
	&:hover {
		opacity: 0.7;
	}
}

/****************************************/
/*************** TABLES ****************/
/**************************************/
.table-default {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;

    tr:first-child {
        background-color: #d4d7dc;        
        position: sticky;
        top: 2.7rem;
        border: 1px solid #d4d7dc;
        z-index: 3;
        th {
            font-size: $font-15;
            font-weight: 600;
            color: #1e1e1e;
            padding: 0.8rem 0.5rem !important;
			text-align: left;

            &:last-child {  
                width: 5rem;
            }
        }

        &:hover {
            background-color: #e1e1e1;
        }
    }

    tr {
        border-bottom: 1px solid #e1e1e1;
        &:hover {
            background-color: $black-100;
        }

		td:last-child {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}
    }

    td {
        padding: 0.5rem;
        font-size: $font-14;
        a {
            color: #0f64fd;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

    }
	
}
