@import '../variables/color.scss';
@import '../variables/core.scss';
@import '../variables/font.scss';
/*********************************************/
/*********** INPUT/SELECT/TEXTAREA **********/
/*******************************************/
input, select, textarea {
    font-family: inherit;
    font-size: $font-14;
    width: 100%;
    background: #fff;
    color: $black-800;
    box-sizing: border-box;
    border: 1px solid $black-400;
    padding: 0.4rem;

    &:focus{
        outline: none;
        border: 1px solid transparent;
        outline: 1px solid $blue-primary;
    }
}

textarea {
    resize: none;
    height: 100px;
}

.input-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;

    input {
        padding: 0.4rem;
    }

    label {
        font-size: $font-12;
        color: $black-800;
        font-weight: 500;
    }
}

/*********** FLOATING LABEL **********/
.cnt-floating-label {
    position:relative;

    ::-webkit-input-placeholder {
        opacity: 0;
    }
    
    input:focus::-webkit-input-placeholder {
        opacity: 1;
    }

    label {
        color: $black-700;
        font-size: $font-13;
        position: absolute;
        pointer-events: none;
        background: #fff;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    input, select, textarea {
        &:focus{
            ~ label {
                font-size: $font-12;
                color:$blue-primary;
                font-weight: 500;
            }
        }
    }

    input:not(:placeholder-shown) ~ label,
    textarea:not(:placeholder-shown) ~ label, 
    select:not([value=""]):valid ~ label,
    select[value=""]:focus ~ label {
        font-size: $font-12;
        font-weight: 500;
    }
}

/***************************
******* Label OUTSIDE  ******
****************************/
.cnt-floating-label {
    &.outside  {
        input, select, textarea {
            padding: 0.6rem 0.5rem;
            &:focus{
                ~ label {
                    top: -8px;
                    left: 12px; 
                }
            }
        }

        input:not(:placeholder-shown) ~ label,
        textarea:not(:placeholder-shown) ~ label,
        select:not([value=""]):valid ~ label,
        select[value=""]:focus ~ label {
            top: -8px;
            left: 12px;
        }

        label {
            left: 10px;
            top: 10px;
        }
    }
}

/***************************
******* Label INSIDE  ******
****************************/
.cnt-floating-label {
    &.inside  {
        input, select, textarea {
            padding: 1.2rem 0.5rem 0.3rem 0.5rem;
            &:focus{
                ~ label {
                    top: 4px;
                }
            }
        }

        input:not(:placeholder-shown) ~ label,
        textarea:not(:placeholder-shown) ~ label {
            top: 4px;
        }

        select:not([value=""]):valid ~ label,
        select[value=""]:focus ~ label {
            top: 4px;
            left: 13px;
        }

        label {
            left: 8px;
            top: 12px;
        }
    }
}


/***************************
******* LINE BOTTOM ******
****************************/
.cnt-floating-label {
    &.line-bottom  {
        input, select, textarea {
            padding: 1.2rem 0.5rem 0.3rem 0.3rem;
            border: none;
            border-bottom: 1px solid $black-400;

            &:focus{
                border: none;
                border-bottom: 1px solid $blue-primary;
                outline: none;
                background-color: $black-100;
                ~ label {
                    top: 2px;
                    background-color: $black-100;
                }
            }
        }

        input:not(:placeholder-shown) ~ label,
        textarea:not(:placeholder-shown) ~ label {
            top: 2px;
        }

        select:not([value=""]):valid ~ label,
        select[value=""]:focus ~ label {
            top: 2px;
        }

        label {
            left: 4px;
            top: 16px;
        }
    }
}

/****************************/
/****** CHECKS E RADIO *****/
/**************************/
.check-row, .radio-row, .switch-row {
    display: flex;
    gap: 0.45rem;
    cursor: pointer;

    &.hover {
        padding: 0.1rem 0.5rem 0.1rem 0.25rem;
        &:hover {
            background-color: $black-100;
        }
    }

    label {
        font-size: $font-14;
        color: $black-800;
        font-weight: 500;
    }
}

.check-row, .radio-row, .switch-row {
    flex-direction: row;
    align-items: center;
}

.checkbox, .radio {
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid $black-400;
    outline: none;
    cursor: pointer;
    margin: 0;

    &:focus {
        border: 1px solid $black-400;
        outline: none;
    }

    &:checked {
        border: 1px solid $green-500;
        background-color: $green-500;
    }
}

.radio {
    border-radius: 50%;
}

.checkbox:checked::before {
    content: "";
    /* content: '\2713'; */
    display: block;
    position: relative;
    top: -6px;
    left: -2px;
    transform: rotate(45deg);
    height: 9px;
    width: 4px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

.radio:checked::before {
    content: "";
    display: block;
    position: relative;
    top: -3px;
    left: -3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    clip-path: circle(50px);
    background: #fff;
}

/****************************/
/********* SWITCH **********/
/**************************/
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 18px;

    input { 
        opacity: 0;
        width: 100%;
        box-sizing: border-box;
    }
}

.slider {
    cursor: pointer;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #868E96;
    border-radius: 33px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: $green-500;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

/*********************************************/
/************ READONLY/DISABLED *************/
/*******************************************/
input[readonly], 
input[type="checkbox"]:disabled, 
input[type="radio"]:disabled, 
input[type="date"]:read-only, 
textarea[readonly],
select:disabled,
button:disabled,
label.label-check[readonly], 
label.label-radio[readonly],
input[type="checkbox"]:disabled ~ .slider.round {
    cursor: not-allowed;
}


input[readonly], textarea[readonly], select:disabled {
    background: #f5f5f7;
    opacity: 0.8;
}
