@import '../variables/color.scss';
@import '../variables/core.scss';
@import '../variables/font.scss';

a {
    text-decoration: none;
}

p {
    margin: 0;
}

//****************************//
//********** COLOR **********//
//**************************//

@each $nameColor, $color in $black {
    .bg-#{$nameColor} {
        background-color: $color;
    }
}
@each $nameColor, $color in $gray {
    .bg-#{$nameColor} {
        background-color: $color;
    }
}
@each $nameColor, $color in $blue {
    .bg-#{$nameColor} {
        background-color: $color;
    }
}
@each $nameColor, $color in $red {
    .bg-#{$nameColor} {
        background-color: $color;
    }
}
@each $nameColor, $color in $yellow {
    .bg-#{$nameColor} {
        background-color: $color;
    }
}
@each $nameColor, $color in $green {
    .bg-#{$nameColor} {
        background-color: $color;
    }
}
.bg-dangerous {
    background-color: $dangerous;
}
.bg-warning {
    background-color: $warning;
}
.bg-success{
    background-color: $success;
}
.bg-info {
    background-color: $info;
}
.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.bg-transparent {
    background-color: transparent
}

//****************************//
//********** TEXT ***********//
//**************************//
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700&display=swap'); //Google Font: Kumbh Sans

//**** Size ****//
$base-text-size: 0.875rem; //14px
$base-title-size: 2.25rem; //36px
$i: 0;

@each $name, $s in $size {
    $i: $i + 1;

    @if $i != 1 {
        $base-text-size: $base-text-size+0.25;
        $base-title-size: $base-title-size+0.25;
    }

    .text-#{$s} {
        font-size: $base-text-size;
    }

    .title-#{$s} {
        font-size: $base-title-size;
        color: var(--blue-500);
    }
}

//**** Weight ****//
@for $count from 3 to 8 {
    .weight-#{$count*100} {
        font-weight: $count*100;
    }
}

//**** Style ****//
.text-italic {
    font-style: italic;
}

.text-underline {
    text-decoration: underline;
}

//**** Align ****//
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

//****************************//
//********** SIZING *********//
//**************************//
@each $size in $sizeNumber {
    .width-#{$size} {
        width: $size*1%;
        box-sizing: border-box;
    }

    .max-width-#{$size} {
        max-width: $size*1%;
        box-sizing: border-box;
    }

    .height-#{$size} {
        height:$size*1%;
        box-sizing: border-box;
    }

    .max-height-#{$size} {
        max-height: $size*1%;
        box-sizing: border-box;
    }
}

//****************************//
//******** POSITION *********//
//**************************//
.vertical-align {
    margin: 0 auto;
}

.horizontal-align {
    margin: auto 0;
}


//****************************//
//******** SPACING **********//
//**************************//
$base-spacing: 0.5rem;
/* $base-s: 0.5rem; */
$i: 0;
@each $name, $s in $size {
    // $ok: index($size, $s);
    $i: $i+1;

    @if $i != 1 {
        $base-spacing: $base-spacing+0.5;
    }

    .mg-#{$s} {
        margin: $base-spacing;
    }

    .pd-#{$s} {
        padding: $base-spacing;
    }

    @each $name, $pos in $position {
        .mg-#{$pos}-#{$s} {
            margin-#{$name}: $base-spacing;
        }

        .pd-#{$pos}-#{$s} {
            padding-#{$name}: $base-spacing;
        }
    }
}


//****************************//
//********* ACTION **********//
//**************************//
.hide {
    display: none !important;
}

.readonly {
    background: $black-200;
    opacity: 0.8;
    cursor: not-allowed;
}