@import '../variables/colorVariables.scss';
@import '../variables/coreVariables.scss';

//****************************//
//*********** FLEX **********//
//**************************//

//** display Flex **//
.flex {
    display: flex;
}

//** direction Row **//
.f-row {
    flex-direction: row;
}
.f-row-reverse {
    flex-direction: row-reverse;
}

//** direction Column **//
.f-column {
    flex-direction: column;
}
.f-column-reverse {
    flex-direction: column-reverse;
}

//** Wrap  **//
.f-wrap {
    flex-wrap: wrap;
}
.f-no-wrap {
    flex-wrap: nowrap;
}


//** Justify content  **//
.f-justify-start {
    justify-content: flex-start;
}
.f-justify-end {
    justify-content: flex-end;
}
.f-justify-center {
    justify-content: center;
}
.f-justify-between {
    justify-content: space-between;
}
.f-justify-around {
    justify-content: space-around;
}
.f-justify-evenly {
    justify-content: space-evenly;
}

//** Align items  **//
.f-align-start {
    align-items: flex-start;
}
.f-align-end {
    align-items: flex-end;
}
.f-align-center {
    align-items: center;
}
.f-align-baseline {
    align-items: baseline;
}
.f-align-stretch {
    align-items: stretch;
}

//*** gap **//
$base-gap: 0.5rem;
@each $name, $s in $size {
    $i: index($size, $s);

    @if $i != 1 {
        $base-gap: $base-gap+0.5;
    }

    .gap-#{$s} {
        gap: $base-gap;
    }
}


//****************************/
//*********** GRID **********//
//**************************//
.g-3c {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.g-2c {
    display: grid;
    grid-template-columns: repeat(2, auto);
}


//****************************//
//******** CONTAINER ********//
//**************************//
.cnt {
    max-width: 100%;
}

.cnt-m {
    max-width: 100%;
}

.cnt-l {
    max-width: 100%;
}

.cnt-xl {
    max-width: 100%;
}

.cnt-xxl {
    max-width: 100%;
}

.cnt-100 {
    width: 100%;
}


//*** !! No media query for `xs` since this is the default in Bootstrap !! ***//

//Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .cnt {
        max-width: 540px;
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .cnt, .cnt-m {
        max-width: 720px;
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .cnt, .cnt-m, .cnt-l {
        max-width: 960px;
    }

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .cnt, .cnt-m,.cnt-l, .cnt-xl {
        max-width: 1140px;
    }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .cnt, .cnt-m,  .cnt, .cnt-m,.cnt-l, .cnt-xxl {
        max-width: 1320px;
    }
    
}
